<template>
  <div class="tags">
    <el-tag
      v-for="(tag) in tags"
      :key="tag.name"
      closable
      :type="tag.type"
      :hit="false"
      @close="tagClosed(tag)"
      @click="tagClicked(tag)"
    >{{tag.name}}</el-tag>
    <el-input
      class="input-new-tag"
      v-if="inputVisible"
      v-model="inputValue"
      ref="saveTagInput"
      size="mini"
      @keyup.enter.native="handleInputConfirm"
      @blur="handleInputConfirm"
    ></el-input>
    <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
  </div>
</template>

<script>
import { ref, reactive } from "@vue/composition-api";
let useStdTags = ({vm}) => {
  let tags = ref([
    { name: "Tag 1", type: "" },
    { name: "Tag 2", type: "success" },
    { name: "Tag 3", type: "info" },
    { name: "Tag 4", type: "warning" },
    { name: "Tag 5", type: "danger" }
  ]);
  let inputVisible = ref(false);
  let inputValue = ref("");
  function tagClicked(tag) {
    this.$message(`you clicked ${tag.name}`);
    console.log(`you clicked ${tag.name}`, tag);
  }
  function tagClosed(tag) {
    console.log(`you closed ${tag.name}`);
    let tags = this.tags;
    tags.splice(tags.indexOf(tag), 1);
  }
  function showInput() {
    inputVisible = true;
    vm.$nextTick(_ => {
      console.log('showInput',vm)
      vm.$refs.saveTagInput.$refs.input.focus();
    });
  }
  function handleInputConfirm() {
    if (inputValue) {
      tags.push(inputValue);
    }
    inputVisible = false;
    inputValue = "";
  }
  return {
    tags,
    inputVisible,
    inputValue,
    tagClicked,
    tagClosed,
    showInput,
    handleInputConfirm
  };
};
export default {
  name: "std-tags",
  setup(props, { root }) {
    return { ...useStdTags({ vm: root }) };
  }
};
</script>

<style>
.tags .el-tag:first-child {
  margin-left: 0px;
}
.tags .el-tag {
  margin-left: 10px;
}

.el-tag {
  cursor: pointer;
}
</style>