<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <comp-api-1></comp-api-1>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import CompApi1 from "@/components/comp-api-1"


export default {
  name: "home",
  components: {
    CompApi1
  }
};
</script>
