<template>
  <div>
    <h2>People</h2>
    <p v-for="(person, i) in people" :key="i">{{ person.name }} ({{ person.age }})</p>
    <p v-if="people.length < 1">No people yet...</p>
    <!-- <br /><br /> -->
    {{ myName }}
    <br />
    <br />
    <el-row :gutter="20" style="margin-bottom:4px;">
      <el-col :span="6" :offset="4">
        <div class="right">Name:</div>
      </el-col>
      <el-col :span="10" :gutter="20">
        <div class="left">
          <el-input placeholder="Please input name" v-model="name" style="width:200px;" />
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="6" :offset="4">
        <div class="right">Age:</div>
      </el-col>
      <el-col :span="10" :gutter="20">
        <div class="left">
          <el-input placeholder="Please input name" v-model="age" style="width:200px;" />
        </div>
      </el-col>
    </el-row>
    <br />
    <std-tags></std-tags>
    <br />
    <el-button type="primary" @click="addPerson({ name, age })">add person</el-button>
    <el-button type="warning" @click="people.pop()">delete last</el-button>
    <el-button v-if="people.length > 0" type="success" @click="updateName">update first</el-button>
    <!-- <br /><br /> -->
    <el-button type="primary" @click="savePeople">save</el-button>
    <el-button type="primary" @click="clearPeople">clear localStorage</el-button>
    <br />
    <br />
    <!-- <el-button type="primary" @click="savePeople">save</el-button> -->
    <el-button type="primary" @click="loadFromLocalStorage">load from localStorage</el-button>
    <el-button type="primary" @click="loadFromFile">load from file</el-button>
  </div>
</template>

<script>
import { reactive, ref, toRefs } from "@vue/composition-api";
import data from "@/data";
import {StdTags} from "@/components/tags";
// let updateName = function(name) {
//   this.name = name;
// };
let useSubmit = defaultPerson => {
  // let people = reactive([]);
  let people = reactive(data.get("people"));
  global.people = people;
  let nickname = ref("nickky");
  global.nickname = nickname;
  return {
    name: defaultPerson.name,
    age: defaultPerson.age,
    people,
    nickname,
    addPerson({ name, age }) {
      console.log("addPerson", this.people);
      people.push({ name, age, nickname: nickname });
      data.add("people", { name, age, nickname: nickname.value });
    },
    savePeople() {
      data.remove("people");
    },
    clearPeople() {
      data.remove("people", "all");
    },
    loadFromLocalStorage(entity) {
      data.get("people", "all");
    },
    loadFromFile(entity) {
      data.getFromFile("people", "all");
    }
  };
};

export default {
  components: { StdTags },
  setup() {
    return { ...useSubmit({ name: "Tommy", age: 52 }) };
  },
  data() {
    return {
      // age: 52
    };
  },
  computed: {
    _name() {
      return this.name;
    },
    myName: {
      get() {
        if (this.people.length > 0) {
          return `My name is ${this.people[0].name} (${this.people[0].nickname.value})`;
        }
        return "NOT AVAIL";
      },
      set(val) {
        this.name = val;
      }
    }
  },
  methods: {
    updateName() {
      this.people[0].name = "name changed!";
      this.people[0].age = 0;
      this.people[0].nickname = "nickname changed!";
    }
  },
  created() {
    global.vm = this;
  }
};
</script>

<style scoped>
.right {
  text-align: right;
  margin-top: 10px;
}

.left {
  text-align: left;
  /* margin-top: 10px; */
}
</style>