<template>
  <div id="app">
    <el-row :gutter="20">
      <!-- <el-col :span="4"><div class="grid-content bg-purple"></div></el-col> -->
      <el-col :span="16" :offset="4"
        ><div class="grid-content bg-purple"><comp-api-1></comp-api-1></div
      ></el-col>
      <!-- <el-col :span="4"><div class="grid-content bg-purple"></div></el-col> -->
    </el-row>
  </div>
</template>

<script>
import CompApi1 from "./components/comp-api-1.vue";

export default {
  name: "app",
  components: {
    CompApi1
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 25px;
}
.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
  padding: 20px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
